# Virtual Environment
venv/
env/
ENV/

# Model weights
weights/
*.pt
*.pth

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

data/
.data/
.DS_Store
*.pyc

